{% load static %}
{% with request.resolver_match.view_name as view_name %}

<div class="placeholder">
    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/pic(2).jpg' %}">
        <div class="tm-header">
            <div class="row tm-header-inner">
                <div class="col-md-6 col-12">
                    <img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
                    <div class="tm-site-text-box">
                        <h6 class="tm-site-description">Эксклюзивно для</h6>	
                        <h1 class="tm-site-title">МБУ ЦГПВ Пост №1</h1>
                    </div>
                </div>
                <nav class="col-md-6 col-12 tm-nav">
                    <ul class="tm-nav-ul">
                        <li class="tm-nav-li"><a href="{% url 'welcome_page:index' %}" class="tm-nav-link {% if view_name == 'welcome_page:index' %}active{% endif %}">Домашняя</a></li>
                        <li class="tm-nav-li"><a href="{% url 'other_pages:about' %}" class="tm-nav-link {% if view_name == 'other_pages:about' %}active{% endif %}">О проекте</a></li>
                        <li class="tm-nav-li"><a href="{% url 'other_pages:contacts' %}" class="tm-nav-link {% if view_name == 'other_pages:contacts' %}active{% endif %}">Контакты</a></li>
                    </ul>
                </nav>	
            </div>
        </div>
    </div>
</div>
{% endwith %}