{% extends "base.html" %}
{% load static %}

{% block 'main' %}
<main>
  <header class="row tm-welcome-section">
    <h2 class="col-12 text-center tm-section-title">О проекте</h2>
    <p class="col-12 text-center">Данный проект выполнен как добровольный и благодворительный
      Пет-проект,
      для развлекательных и/или интелектуальных развлечений,
      специально для МБУ ЦГПВ Пост№1 города Новосибирска</p>
  </header>

  {% comment %} В будущем переделать на данные из БД {% endcomment %}
  <div class="tm-container-inner tm-persons">
    <div class="row">
      <article class="col-lg-6">
        <figure class="tm-person">
          {% for employee in staff %}
          <img src="{{ employee.photo.url }}" alt="Image" class="img-fluid tm-person-img" />
          <figcaption class="tm-person-description">
            <h4 class="tm-person-name">{{ employee.name }} {{ employee.surname }}</h4>
            <p class="tm-person-title">{{ employee.position_ru }}</p>
            <p class="tm-person-about">{{ employee.position_description }}</p>
            <div>
              <a href="{{ employee.link_vk }}" class="tm-social-link"><i class="fab fa-vk tm-social-icon"></i></a>
              <a href="{{ employee.link_tg }}" class="tm-social-link"><i class="fab fa-telegram tm-social-icon"></i></a>
              <a href="mailto:{{ employee.link_mail }}" class="tm-social-link"><i class="fas fa-envelope tm-social-icon fa-envelope" aria-hidden="true"></i></a>
            </div>
          </figcaption>
          {% endfor %}
        </figure>
      </article>
    </div>
  </div>
</main>
{% endblock  %}